@model PageList<GetRoleDTO>

@{
    GetRoleDTO p = null;
    ViewBag.Title = "Role List";
    ViewBag.SubTitle = "A role provided access to predefined menus and features so that depending on assigned role an administrator can have access to what user needs";
}
<h4 class="mb-1 lh-1">@ViewBag.Title</h4>
<p class="mb-6">@ViewBag.SubTitle</p>
<div class="row g-6">
    @foreach (var role in Model)
    {
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h6 class="fw-normal mb-0 text-body">Total @role.Permissions?.Count() users</h6>
                        <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinne">
                                <img class="rounded-circle" src="~/assets/img/avatars/1.png" alt="Avatar" />
                            </li>
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinne">
                                <img class="rounded-circle" src="~/assets/img/avatars/5.png" alt="Avatar" />
                            </li>
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinne">
                                <img class="rounded-circle" src="~/assets/img/avatars/6.png" alt="Avatar" />
                            </li>
                            <li class="avatar">
                                <span class="avatar-initial rounded-circle pull-up" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="4 more">+4</span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                        <div class="role-heading">
                            <h5 class="mb-1">@role.RoleName</h5>
                            <a type="button" class="btn-icon-only" asp-action="ManageRole" asp-controller="Identity" asp-route-roleId="@role.RoleId" modal-popup="" modal-size = "xl">
                                <span>Manage Functions</span>
                            </a>
                        </div>
                        <i class="icon-base bx bx-copy icon-md text-body-secondary"></i>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card h-100">
            <div class="row h-100">
                <div class="col-sm-5">
                    <div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-4 ps-6">
                        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/illustrations/lady-with-laptop-light.png"
                             class="img-fluid" alt="Image" width="120" data-app-light-img="illustrations/lady-with-laptop-light.png"
                             data-app-dark-img="illustrations/lady-with-laptop-dark.png" style="visibility: visible;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="card-body text-sm-end text-center ps-sm-0">
                        <a type="button" asp-action="AddRole" asp-controller="Identity" modal-popup="" class="btn btn-sm btn-primary mb-4 text-nowrap add-new-role">
                            Add New Role</a>
                        <p class="mb-0 lh-sm text-wrap">
                            Add new role, <br>
                            if it doesn't exist.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>